{
	"name": "astro-blog-starter-template",
	"compatibility_date": "2025-10-08",
	"compatibility_flags": ["nodejs_compat"],
	"main": "./dist/_worker.js/index.js",
	"assets": {
		"directory": "./dist",
		"binding": "ASSETS"
	},
	"observability": {
		"enabled": true
	},
	"vpc_services": [
		{
			"binding": "VPC_SERVICE",
			"service_id": "019a6a59-cbb4-7031-9840-e79c64aeae7f",
			"remote": true
		}
	],
	"upload_source_maps": true
}
